/* App.css */
#root {
  display: flex; /* Flex container for vertical and horizontal centering */
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  min-height: 100vh; /* Ensure it takes at least the height of the viewport */
  max-width: 1280px; /* Maximum width of the application */
  margin: 0 auto; /* Center the app in the middle of the page */
  padding: 2rem; /* Padding around the content */
  text-align: center; /* Align text to center for all text inside root */
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  width: 100%; /* Make sure card uses full width of its container */
  max-width: 960px; /* Maximum width of the card */
  margin: auto; /* Auto margins for horizontal centering */
  padding: 2em; /* Padding inside the card */
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Shadow for better visibility */
  border-radius: 8px; /* Rounded corners */
}

.read-the-docs {
  color: #888; /* Styling for documentation link */
}
